@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap'); /*Estilo de fuente para el titulo*/

.header{
    background-color: rgba(255, 255, 0, 0.986);
    max-width: 800%;
}

.user-container {
    background-color:  rgba(255, 255, 0, 0.514);
}

.movie-container{
    /*background-color:  rgba(255, 255, 0, 0.514);*/
    margin-top: 20px; 
    margin-bottom: 20px;
    padding: 0 20px; 
    max-width: 1200px; 
    margin-left: auto; 
    margin-right: auto;    
}

.titulo {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-left: -40px;
    margin-top: 55px;
}

.texto{
    font-family: "Bebas Neue", sans-serif;
    font-size: 1.5rem;
}

.search-form .search-input{
    border-radius: 50px;
    appearance: none;
    -webkit-appearance: none;
    border-color: rgba(5, 5, 5, 0.311);
}

.search-input::-webkit-search-cancel-button { /*Para borrar la 'x'*/
    -webkit-appearance: none;
}
.search-input:focus {
    outline: none;
    border-color: black; /* Importante para asegurar que el borde no se muestre */
    box-shadow: none !important; /* Importante para asegurar que no haya sombra */
    caret-color: black; /* Hace que el cursor sea invisible al hacer clic */
}

.search-form .search-button{
    border: 0cap;
    position: absolute;
    margin-left: 165px;
}


/*----------------------------------------------------------------*/
.pelicula{
    position: relative;
    text-align: center;
}

.img-fluid:hover{
    opacity: 0.3;
    transform: scale(1.1); /* Ajusta el valor de escala según sea necesario */
    transition: transform 0.3s ease; /* Agrega una transición suave */
}

.titulo-pelicula {
    font-family: "Bebas Neue", sans-serif;
    font-size: 25px;
   
}

.secuencia{
    display: none; 
    position: absolute; 
    top: 0px;
    left: 50%; 
    transform: translateX(-50%);
    z-index: 1; 
}

.pelicula:hover .secuencia{/*Aprezca el titulo cuando nos posicionamos sobre la img*/
    display: block; 
}

.pelicula:hover .genero-pelicula{ /*Desaparezcan los generos cuando nos posicionamos sobre la img*/
    display: none;
}

.btn-like{
    /*margin-left: 45px;*/
    font-size: 35px; 
    border: none; 
    background: none; 
    color: white;
}

.btn-like:hover{
 
  transform: scale(1.5); 
    transition: transform 0.3s ease; 
}

.btn-like.liked {
    color: red; /* Cambiar el color del botón a rojo cuando se le da clic */
}

.aviso{
    font-family: "Bebas Neue", sans-serif;
    font-size: 3.0rem;
    color: red;
    text-align:center;
    
}